.app-header {
  display: flex;
  padding: 1rem;
  height: 2.5rem;
  margin: 0em 3em;
  align-items: center;
}

.app-color-picker {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #ececec;
  border-radius: 50%;
  white-space: nowrap;
  text-align: center;

  > img {
    vertical-align: middle;
  }
}

.app-loader {
  margin-left: 3em;
}

.app-hex-color {
  display: flex;
  margin-left: 5em;
}

.app-canvas-container {
  display: flex;
  justify-content: center;
  margin: 3em;

  #main-canvas {
    outline: 1px solid #fbfbfb;
  }
}
